<template name="stashesEdit">
	{{#with currentStash}}
		<div class="page-header">
			<h1>Edit stash {{name}}</h1>
			<div class="header-item">
				<a href="{{stashesViewPath currentStash}}" class="btn btn-default cancel">Cancel</a>
			</div>
			<span class="clearfix"></span>
		</div>
		<form name="stash" class="stash-form form-horizontal">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="name">Stash Name:</label>
					<div class="controls">
						<input type="text" name="name" placeholder="" value="{{name}}" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="description">Stash Description:</label>
					<div class="controls">
						<textarea name="description" placeholder="">{{description}}</textarea>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-success">Save Stash</button>
				</div>
			</fieldset>
		</form>
	{{/with}}
</template>